@page
@model EmployeeManagement.Core.Pages.UserManagment.InboxModel
@{
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h3><span class="text-primary">Inkorg</span></h3>
            @if (Model.Messages != null && Model.Messages.Any())
            {
                @foreach (var message in Model.Messages.OrderByDescending(m => m.SentAt).Where(x => x.IsRead == false))
                {
                    <div class="message-item p-3 mb-3 border rounded position-relative bg-light py-2 mb-2">
                        <!-- Lägg till bakgrundsfärgen bg-white -->
                        <div class="d-flex align-items-center">
                            @if (message.FromUser.ProfileImg != null)
                            {
                                <img class="rounded-circle me-2" src="data:image/*;base64,@(Convert.ToBase64String(@message.FromUser.ProfileImg))" alt="User image" style="width: 40px; height: 40px; object-fit: cover; border: 2px solid #ccc;"> 
                            }
                            else
                            {
                                <img class="rounded-circle me-2" src="/img/user-profile-icon.jpg" alt="User image" style="width: 40px; height: 40px; object-fit: cover; border: 2px solid #ccc;"> 
                            }
                            <div class="flex-grow-1">
                                <p class="mb-0 fw-bold" style="color: #333;">@message.FromUser.Email</p> 
                                <small class="text-muted">@message.SentAt.ToShortDateString()</small>
                            </div>
                            @if (!message.IsRead)
                            {
                                <form method="post" asp-page-handler="ReadMessage" class="mb-0">
                                    <input type="hidden" name="Message.Id" value="@message.Id" />
                                    <input type="hidden" name="Message.Content" value="@message.Content" />
                                    <input type="hidden" name="Message.Title" value="@message.Title" />
                                    <input type="hidden" name="Message.SentAt" value="@message.SentAt" />
                                    <input type="hidden" name="Message.FromUserId" value="@message.FromUser.Id" />
                                    <input type="hidden" name="Message.ToUserId" value="@message.CurrentUser.Id" />
                                    <input type="hidden" name="Message.IsRead" value="true" />
                                    <button class="btn btn-sm btn-primary" type="submit">x</button> 
                                </form>
                            }
                        </div>
                        <hr class="my-2">
                        <div class="message-content mb-3">
                            <div class="col-12">
                                <h5 class="message-title fw-bold mb-2" style="color: #333;">@message.Title</h5> 
                                <div class="col-1">
                                    <p style="color: #666;">@message.Content</p> 
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-sm btn-link text-decoration-none" type="button" data-bs-toggle="modal" data-bs-target="#replyMessageModal"
                                    data-bs-toUserId="@message.FromUser.Id" data-bs-toUsername="@message.FromUser.Email" data-bs-fromUserId="@message.CurrentUser.Id">
                                <i class="fas fa-reply" style="color: #007bff;"></i> <!-- Ändra svarspilen till blå -->
                                Svara
                            </button>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Inga olästa meddelanden.</p>
            }
        </div>
    </div>
</div>

<!-- Reply Message Modal -->
<div class="modal fade" id="replyMessageModal" tabindex="-1" aria-labelledby="replyMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title fs-5" id="replyMessageModalLabel">Skicka meddelande</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body justify-content-center">
                    <input id="messageFromUserId" type="hidden" asp-for="Message.FromUserId" />
                    <input id="messageToUserId" type="hidden" asp-for="Message.ToUserId" />
                    <div class="form-floating mb-3">
                        <input id="floatingInput" class="form-control justify-self-center" style="width: 100%; height: 50%" placeholder="Meddelande" asp-for="Message.Title" />
                        <label for="floatingInput">Rubrik</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea id="floatingTextarea" class="form-control justify-self-center" style="width: 100%; height: 50%" placeholder="Meddelande" asp-for="Message.Content"></textarea>
                        <label for="floatingTextarea">Meddelande</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                    <button type="submit" class="btn btn-dark">Skicka meddelande</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Reply Message Modal end -->

<script>
    // Reply Message
    var replyMessageModal = document.getElementById('replyMessageModal');
    replyMessageModal.addEventListener('show.bs.modal',
        function (event) {
            var button = event.relatedTarget;
            // Attributes
            var messageToUserId = button.getAttribute('data-bs-toUserId');
            var messageFromUserId = button.getAttribute('data-bs-fromUserId');
            var messageToUsername = button.getAttribute('data-bs-toUsername');
            // Fields
            var toUserIdInput = replyMessageModal.querySelector('#messageToUserId');
            var fromUserIdInput = replyMessageModal.querySelector('#messageFromUserId');
            var modalTitle = replyMessageModal.querySelector('.modal-title');
            // Apply
            toUserIdInput.value = messageToUserId;
            fromUserIdInput.value = messageFromUserId;
            modalTitle.textContent = 'Skicka meddelande till ' + messageToUsername;
        });
</script>
<style>
    .modal-title-custom-bg {
        background-color: #333; /* Ändra till önskad bakgrundsfärg */
        color: #fff; /* Ändra till önskad textfärg */
        padding: 10px; /* Justera kuddar efter behov */
        border-radius: 5px; /* Justera bågfil efter behov */
    }
</style>