@page
@using EmployeeManagement.Core.Mangement
@model EmployeeManagement.Core.Pages.MessageModel
@{
    var user = UserManagement.GetLoggedInUser();
}

@Model.CreatedByUser.Email
@if (user != null && Model.CreatedByUser.Id != Model.UserId)
{
    <a asp-route-id="" class="border-0 bg-transparent nav-item" type="button" data-bs-toggle="modal" data-bs-target="#addMessageModal" data-bs-toUserId="@Model.CreatedByUser.Id" data-bs-toUsername="@Model.CreatedByUser.Email">
        <span style="font-size: 1rem; color: rgba(0, 0, 0, .55)">
            <i class="fas fa-comment-dots ml-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Skicka meddelande till @Model.CreatedByUser.Email"></i>
        </span>
        ✉
    </a>
}


<!-- Add Message Modal -->
<!-- Add Message Modal -->
<div class="modal fade" id="addMessageModal" tabindex="-1" aria-labelledby="addMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" asp-page-handler="SendMessage">
                <input type="hidden" asp-for="SendMessage.Id" value="@Model.SendMessage.Id" />

                <div class="modal-header">
                    <h5 class="modal-title" id="addMessageModalLabel">Skicka meddelande</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="SendMessage.FromUser" value="@Model.UserId" />
                    <input id="messageToUserId" type="hidden" asp-for="SendMessage.ToUser" />
                    <div class="mb-3">
                        <label for="messageTitle" class="form-label">Rubrik</label>
                        <input id="messageTitle" class="form-control" type="text" asp-for="SendMessage.Title" placeholder="Rubrik" />
                    </div>
                    <div class="mb-3">
                        <label for="messageContent" class="form-label">Meddelande</label>
                        <textarea id="messageContent" class="form-control" asp-for="SendMessage.Content" placeholder="Meddelande"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                    <button type="submit" class="btn btn-primary">Skicka meddelande</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>


    var addMessageModal = document.getElementById('addMessageModal');
    addMessageModal.addEventListener('show.bs.modal',
        function (event) {
            var button = event.relatedTarget;
            // Attributes
            var messageToUserId = button.getAttribute('data-bs-toUserId');
            var messageToUsername = button.getAttribute('data-bs-toUsername');
            // Fields
            var toUserIdInput = addMessageModal.querySelector('#messageToUserId');
            var modalTitle = addMessageModal.querySelector('.modal-title');
            // Apply
            toUserIdInput.value = messageToUserId;
            modalTitle.textContent = 'Skicka meddelande till ' + messageToUsername;
        });
</script>
